<!-- Barra de navegación colapsable bajo sm con estilo dark -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Logo con enlace al principio del navbar -->
    <%- include("./navbar-brand.ejs",  { href: "/" }) %>
    <!-- Botón para descolapsar la barra -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Contenido que se descolapsará al darle al botón -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarToCollapse">
      <!-- Paginación -->
      <ul class="navbar-nav ml-4 ml-sm-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/servicios">Servicios</a>
        </li>
      </ul>
      <!-- Botones de autenticación -->
      <ul class="navbar-nav">
        <% if (!isSignUp) { %>
          <li class="nav-item">
            <span class="navbar-text">¿Aún no estás registrado?</span>
          </li>
          <li class="nav-item active">
            <a class="btn btn-success mx-2" href="/registro">Sign up</a>
          </li>
        <% }else{ %>
          <li class="nav-item activa">
            <span class="navbar-text">¿Ya tienes una cuenta?</span>
          </li>
          <li class="nav-item active">
            <a class="btn btn-outline-success mx-2" href="/login">Log in</a>
          </li>
        <% } %>
      </ul>
      
    </div>

  </div>
</nav>