<%- include("../templates/header.ejs", { tipoNavbar: "auth" , isSignUp, tituloPestana: "Restablecer contraseña", cssFiles: [] }) %>

    <div class="container my-4" style="max-width: 600px;">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Restablezca su contraseña</h4>
            </div>
            <div class="card-body row justify-content-center">
                <form id="recover_form" class="form col-12">

                    <div class="row mx-3 my-2">
                        <label for="email" class="d-inline col-12 col-sm-6">Email</label>
                        <input class="d-inline form-control col-12 col-sm-6" type="email" name="email" id="email"
                            value="<%= email %>" readonly>
                    </div>

                    <div class="row mx-3 my-2">
                        <label for="password" class="d-inline col-12 col-sm-6">Nueva contraseña</label>
                        <input class="d-inline form-control col-12 col-sm-6" type="password" name="password"
                            id="password" required="required" minlength="10" maxlength="50">
                    </div>

                    <div class="row mx-3 mt-2 mb-4">
                        <label for="password2" class="d-inline col-12 col-sm-6">Verifique la contraseña</label>
                        <input class="d-inline form-control col-12 col-sm-6" type="password" name="password2"
                            id="password2" required="required" minlength="10" maxlength="50">
                        <div id="error" class="invalid-feedback"></div>
                    </div>

                    <div class="justify-content-center row mx-4">
                        <button id="submit" type="submit" class="btn btn-success col-12 col-md-3">
                            Restablecer contraseña <i id="cargando" class="fa fa-spinner fa-pulse d-none"></i>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- CODIGO DEL MODAL DE AVISO -->
    <div class="modal" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titulo_modal"> </h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div id="modal_body" class="modal-body">
                    <p id="contenido"> </p>
                    <p class="small text-info" id="contenido_adicional"> </p>
                </div>
                <div id="div_button" class="modal-footer d-none">
                    <a type="button" href="login" class="btn btn-primary">Ir al login</a>
                </div>
            </div>
        </div>
    </div>

    <script>

        const input1 = document.getElementById("password");
        const input2 = document.getElementById("password2");

        input1.addEventListener("input", (event) => {
            if (input1.classList.contains("is-invalid"))
                input1.classList.remove("is-invalid");
            if (input2.classList.contains("is-invalid"))
                input2.classList.remove("is-invalid");
            if (input1.value === input2.value && input1.length >= 10) {
                if (!input1.classList.contains("is-valid"))
                    input1.classList.add("is-valid");
                if (!input2.classList.contains("is-valid"))
                    input2.classList.add("is-valid")
            }
        });

        input2.addEventListener("input", (event) => {
            if (input1.classList.contains("is-invalid"))
                input1.classList.remove("is-invalid");
            if (input1.value !== input2.value) {
                if (!input2.classList.contains("is-invalid"))
                    input2.classList.add("is-invalid");
            } else {
                if (input1.classList.contains("is-invalid"))
                    input1.classList.remove("is-invalid");
                if (input2.classList.contains("is-invalid"))
                    input2.classList.remove("is-invalid");
                if (input1.value.length >= 10) {
                    if (!input1.classList.contains("is-valid"))
                        input1.classList.add("is-valid");
                    if (!input2.classList.contains("is-valid"))
                        input2.classList.add("is-valid");
                }
            }
        });

        const form = document.getElementById("recover_form");
        form.addEventListener("submit", async (event) => {

            event.preventDefault();

            try {

                const password = input1.value;
                const password2 = input2.value;

                // Comprobamos que las contraseñas coincidan
                if (password !== password2) {
                    if (!input1.classList.contains("is-invalid"))
                        input1.classList.add("is-invalid");
                    if (!input2.classList.contains("is-invalid"))
                        input2.classList.add("is-invalid");
                    document.getElementById("error").innerText = "Las contraseñas no coinciden";
                    return;
                }

                document.getElementById("cargando").classList.remove("d-none");

                // Enviamos la consulta POST a la api
                const data = await fetch("/api/users/resetPassword", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        token: "<%= token %>",
                        password
                    })
                });

                document.getElementById("cargando").classList.add("d-none");

                const respuesta = await data.json();


                // Comprobamos que no haya fallado
                if (!respuesta.success) {

                    console.log("Fallo en respuesta: ", respuesta.message);

                    document.getElementById("titulo_modal").innerText = "Ha ocurrido un error";
                    document.getElementById("contenido").innerText = "Vuelva a intentarlo y si el problema persiste contacte con soporte.";
                    document.getElementById("contenido_adicional").innerText = respuesta.message;
                    if (document.getElementById("modal_body").classList.contains("d-none"))
                        document.getElementById("modal_body").classList.remove("d-none");
                    $('#modal').modal();
                    return;

                } else {

                    console.log(respuesta.message);

                    document.getElementById("titulo_modal").innerText = "La contraseña se ha cambiado correctamente";
                    if (!document.getElementById("modal_body").classList.contains("d-none"))
                        document.getElementById("modal_body").classList.add("d-none");
                    document.getElementById("div_button").classList.remove("d-none");

                    $('#modal').modal();

                }

            } catch (error) {

                document.getElementById("titulo_modal").innerText = "Ha ocurrido un error";
                document.getElementById("contenido").innerText = "Vuelva a intentarlo y si el problema persiste contacte con soporte.";
                document.getElementById("contenido_adicional").innerText = error;
                document.getElementById("cargando").classList.add("d-none");

                $('#modal').modal();
                return;

            }

        });

    </script>

    <%- include('../templates/footer'); %>