<%- include("templates/header.ejs", { tipoNavbar: "normal", tituloPestana: "404" }); %>
<div class="container my-4">
    <h1><%= titulo %></h1>
    <h2>La página solicitada no existe</h2>
</div>
<%- include('templates/footer'); %>