<%- include("templates/header.ejs", { tipoNavbar: "normal", tituloPestana: "Grafiti Page" }) %>

<div class="container my-4">
    <h1 class="text-primary"><%= titulo %></h1>
</div>

<%- include('templates/footer'); %>