<%- include("templates/header.ejs", { user, tipoNavbar: "normal", tituloPestana: "Servicios" }) %>

<div class="container my-4">
    <h1><%= titulo %></h1>
    <% if(user) { %>
        <p><%= user.name %></p>
    <% } else { %>
        <p>NO</p>
    <% } %> 
</div>

<%- include('templates/footer'); %>