<%- include("templates/header.ejs", { tipoNavbar: "normal" , tituloPestana: "Servicios" }) %>

    <div class="container-fluid px-4 my-4">

        <div id="servicios">


            <div class="card my-2">
                <a href="#uno" class="card-link" data-toggle="collapse" data-parent="#servicios">
                    <div class="card-header">
                        Servicio 1 <i class="fa fa-lg fa-angle-down float-right"></i>
                    </div>
                </a>

                <div id="uno" class="collapse show">
                    <div class="class-body container my-4 text-justify">

                        <div class="row justify-content-left">
                            <div class="col col-sm 10 col-md-9 col-lg-8 col-xl-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quod, officiis, ducimus
                                voluptatem tempore ut architecto dicta similique totam nobis et minima placeat laborum,
                                est eveniet maiores nam odio eos dolorem adipisci modi iusto hic ex? Eum sequi molestiae
                                odit accusantium, ea tenetur! Excepturi debitis tempore et odit ab ea illo, illum nihil,
                                amet praesentium odio nostrum aspernatur. Adipisci culpa, sequi earum aut blanditiis
                                unde odit nihil consequuntur. Libero quos placeat, recusandae fugit pariatur aperiam,
                                corporis ratione ipsum saepe incidunt consequuntur tenetur nemo. Et consequatur, labore
                                ab quibusdam inventore minus numquam commodi nihil sequi. Quisquam pariatur ducimus quam
                                voluptatem? Recusandae facilis velit error quasi exercitationem at accusantium omnis
                                maxime ut temporibus odio aut ab ea est reprehenderit totam eum fuga a labore, amet
                                voluptas harum eveniet eius aliquam! Eos doloremque aliquam dolorum provident tempora,
                                necessitatibus eaque odit doloribus eligendi unde? Dolorum ut magnam nostrum, quasi cum
                                sint laudantium? Quasi tempore est corrupti facilis recusandae asperiores possimus, amet
                                sed id earum illum omnis voluptatum labore inventore atque impedit? Tempore quod
                                asperiores blanditiis, commodi optio voluptates enim! Tempora placeat, consequatur iusto
                                voluptates dolorum tenetur ipsam necessitatibus aliquam veniam! Delectus magni omnis,
                                sapiente nihil voluptas consequatur ea libero facilis tempora ad adipisci eaque.
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="card my-2">
                <a href="#dos" class="card-link" data-toggle="collapse" data-parent="#servicios">
                    <div class="card-header">
                        Servicio 2 <i class="fa fa-lg fa-angle-down float-right"></i>
                    </div>
                </a>

                <div id="dos" class="collapse">
                    <div class="class-body container my-4 text-justify">

                        <div class="row justify-content-left">
                            <div class="col col-sm 10 col-md-9 col-lg-8 col-xl-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quod, officiis, ducimus
                                voluptatem tempore ut architecto dicta similique totam nobis et minima placeat laborum,
                                est eveniet maiores nam odio eos dolorem adipisci modi iusto hic ex? Eum sequi molestiae
                                odit accusantium, ea tenetur! Excepturi debitis tempore et odit ab ea illo, illum nihil,
                                amet praesentium odio nostrum aspernatur. Adipisci culpa, sequi earum aut blanditiis
                                unde odit nihil consequuntur. Libero quos placeat, recusandae fugit pariatur aperiam,
                                corporis ratione ipsum saepe incidunt consequuntur tenetur nemo. Et consequatur, labore
                                ab quibusdam inventore minus numquam commodi nihil sequi. Quisquam pariatur ducimus quam
                                voluptatem? Recusandae facilis velit error quasi exercitationem at accusantium omnis
                                maxime ut temporibus odio aut ab ea est reprehenderit totam eum fuga a labore, amet
                                voluptas harum eveniet eius aliquam! Eos doloremque aliquam dolorum provident tempora,
                                necessitatibus eaque odit doloribus eligendi unde? Dolorum ut magnam nostrum, quasi cum
                                sint laudantium? Quasi tempore est corrupti facilis recusandae asperiores possimus, amet
                                sed id earum illum omnis voluptatum labore inventore atque impedit? Tempore quod
                                asperiores blanditiis, commodi optio voluptates enim! Tempora placeat, consequatur iusto
                                voluptates dolorum tenetur ipsam necessitatibus aliquam veniam! Delectus magni omnis,
                                sapiente nihil voluptas consequatur ea libero facilis tempora ad adipisci eaque.
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="card my-2">
                <a href="#tres" class="card-link" data-toggle="collapse" data-parent="#servicios">
                    <div class="card-header">
                        Servicio 3 <i class="fa fa-lg fa-angle-down float-right"></i>
                    </div>
                </a>

                <div id="tres" class="collapse">
                    <div class="class-body container my-4 text-justify">

                        <div class="row justify-content-left">
                            <div class="col col-sm 10 col-md-9 col-lg-8 col-xl-7 p-2">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem maiores nobis adipisci, aperiam alias dolor ipsum, magnam quos exercitationem soluta odit veritatis optio. Recusandae repellendus, impedit quisquam aspernatur natus in tempore non, odit tempora beatae ullam dolorem corporis ducimus, illum velit commodi ipsum iusto! Labore, ullam. Blanditiis, placeat sit! Adipisci pariatur quae architecto asperiores, placeat ipsam quis. Tempora porro expedita voluptas ullam quibusdam doloribus quod illo sit quis commodi corporis perspiciatis autem natus vitae, accusamus officiis laboriosam. Dolorem, nostrum vitae accusantium ex blanditiis unde sapiente quis recusandae exercitationem dignissimos modi enim numquam dolor dolore placeat! Dolor repellat minus nobis quibusdam deserunt animi error doloribus est voluptatum? Itaque harum quasi in repudiandae error voluptates illum mollitia minima fugit maiores tempore eius officiis quos asperiores illo tenetur dolores, ut neque exercitationem voluptate, delectus similique perspiciatis dicta nam? Harum earum non vero, et laborum dignissimos amet expedita nesciunt, nobis incidunt ipsum molestias tempore suscipit corrupti reiciendis distinctio obcaecati voluptate provident asperiores illum eos! Natus deleniti expedita, illo tempore necessitatibus amet error, quisquam doloremque sed cumque omnis ratione repudiandae odit provident atque odio soluta aperiam molestiae fugiat corrupti obcaecati quis! Adipisci, quam quo necessitatibus maiores amet dignissimos omnis magnam excepturi sapiente exercitationem nisi aliquam.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="card my-2">
                <a href="#cuatro" class="card-link" data-toggle="collapse" data-parent="#servicios">
                    <div class="card-header">
                        Servicio 4 <i class="fa fa-lg fa-angle-down float-right"></i>
                    </div>
                </a>

                <div id="cuatro" class="collapse">
                    <div class="class-body container my-4 text-justify">

                        <div class="row justify-content-left">
                            <div class="col col-sm 10 col-md-9 col-lg-8 col-xl-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quod, officiis, ducimus
                                voluptatem tempore ut architecto dicta similique totam nobis et minima placeat laborum,
                                est eveniet maiores nam odio eos dolorem adipisci modi iusto hic ex? Eum sequi molestiae
                                odit accusantium, ea tenetur! Excepturi debitis tempore et odit ab ea illo, illum nihil,
                                amet praesentium odio nostrum aspernatur. Adipisci culpa, sequi earum aut blanditiis
                                unde odit nihil consequuntur. Libero quos placeat, recusandae fugit pariatur aperiam,
                                corporis ratione ipsum saepe incidunt consequuntur tenetur nemo. Et consequatur, labore
                                ab quibusdam inventore minus numquam commodi nihil sequi. Quisquam pariatur ducimus quam
                                voluptatem? Recusandae facilis velit error quasi exercitationem at accusantium omnis
                                maxime ut temporibus odio aut ab ea est reprehenderit totam eum fuga a labore, amet
                                voluptas harum eveniet eius aliquam! Eos doloremque aliquam dolorum provident tempora,
                                necessitatibus eaque odit doloribus eligendi unde? Dolorum ut magnam nostrum, quasi cum
                                sint laudantium? Quasi tempore est corrupti facilis recusandae asperiores possimus, amet
                                sed id earum illum omnis voluptatum labore inventore atque impedit? Tempore quod
                                asperiores blanditiis, commodi optio voluptates enim! Tempora placeat, consequatur iusto
                                voluptates dolorum tenetur ipsam necessitatibus aliquam veniam! Delectus magni omnis,
                                sapiente nihil voluptas consequatur ea libero facilis tempora ad adipisci eaque.
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>

    </div>

    <!--script>

    const links = document.getElementsByClassName("card-link");

    for(const link of links){

        link.addEventListener("click", (event) => {

            event.preventDefault();

            for(const hide of links){
                if(!hide.isEqualNode(link)){
                    if(hide.classList.contains("show")){
                        hide.classList.remove("show");
                    }
                }
            }

            link.classList.add("show")

        });

    }

</script-->

    <%- include('templates/footer'); %>