<%- include("templates/header.ejs", { tipoNavbar: "normal" , tituloPestana: "Servicios", cssFiles: [] }) %>

    <div class="container-fluid px-4 my-4">

        <div id="servicios">


            <div class="card my-2">
                <a href="#uno" class="card-link" data-toggle="collapse" data-parent="#servicios">
                    <div class="card-header">
                        <h5><i class="fa fa-database" aria-hidden="true"></i> Base de Datos de Grafitis <i class="fa fa-lg fa-angle-down float-right"></i></h5>
                    </div>
                </a>

                <div id="uno" class="collapse show">
                    <div class="class-body container my-4 text-justify">

                        <div class="row justify-content-left">
                            <div class="col col-sm 10 col-md-9 col-lg-8 col-xl-7">
                                <p>Recopilamos y ponemos a su disposición una gran variedad de grafitis que otros usuarios y colaboradores han reunido y clasificado. Una vez registrado, tendrá acceso a todos los grafitis de nuestra base de datos.</p>
                                <p>Al unirse a nuestra comunidad, podrá subir sus propios grafitis, permitiendo que otros usuarios tengan acceso a ellos.</p>
                                <p>Los usuarios pueden incluir descripciones y la ubicación de sus grafitis, de forma que cualquiera pueda encontrarlos fácilmente. Además, de tener activada la opción de almacenamiento de ubicación en su dispositivo de captura de imágenes, ésta se añadirá automáticamente a la página de sus grafitis para facilitarle a usted y a otros usuarios la clasificación de sus instantáneas.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="card my-2">
                <a href="#dos" class="card-link" data-toggle="collapse" data-parent="#servicios">
                    <div class="card-header">
                        <h5><i class="fa fa-search" aria-hidden="true"></i> Identificación de grafitis <i class="fa fa-lg fa-angle-down float-right"></i></h5>
                    </div>
                </a>

                <div id="dos" class="collapse">
                    <div class="class-body container my-4 text-justify">

                        <div class="row justify-content-left">
                            <div class="col col-sm 10 col-md-9 col-lg-8 col-xl-7">
                                <p>Al añadir un grafiti al sistema, éste será automáticamente analizado por nuestro modelo de Inteligencia Artificial para extraer sus características. Con dichas características, podemos comparar unos grafitis con otros y establecer una métrica que nos permite relacionar una imagen del sistema con el resto, de forma que aquellas con mayor relación, serán las que mas similitudes compartan.</p>
                                <p>Con nuestra base de datos, no solamente podrá comparar sus grafitis, sino que podrá establecer automáticamente la relación de similaridad con los grafitis del resto de usuarios. De tal modo, podrá comparar sus grafitis con todos los almacenados en el sistema.</p>
                                <p></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="card my-2">
                <a href="#tres" class="card-link" data-toggle="collapse" data-parent="#servicios">
                    <div class="card-header">
                        <h5><i class="fa fa-flask" aria-hidden="true"></i> En constante mejora <i class="fa fa-lg fa-angle-down float-right"></i></h5>
                    </div>
                </a>

                <div id="tres" class="collapse">
                    <div class="class-body container my-4 text-justify">

                        <div class="row justify-content-left">
                            <div class="col col-sm 10 col-md-9 col-lg-8 col-xl-7 p-2">
                                <p>La <strong>Inteligencia Artificial</strong> mediante la cual comparamos unos grafitis con otros debe su funcionamiento a una <strong>Red Neuronal Artificial</strong>, la cual ha aprendido a relacionar imágenes mediante el entrenamiento con una base de datos limitada.</p>
                                <p>Debido a esto y gracias a las aportaciones de todos los usuarios, podemos ampliar la base de datos de imágenes que nos permiten ir aumentando la efectividad en la detección de grafitis de la Red Neuronal constantemente.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!--div class="card my-2">
                <a href="#cuatro" class="card-link" data-toggle="collapse" data-parent="#servicios">
                    <div class="card-header">
                        Servicio 4 <i class="fa fa-lg fa-angle-down float-right"></i>
                    </div>
                </a>

                <div id="cuatro" class="collapse">
                    <div class="class-body container my-4 text-justify">

                        <div class="row justify-content-left">
                            <div class="col col-sm 10 col-md-9 col-lg-8 col-xl-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quod, officiis, ducimus
                                voluptatem tempore ut architecto dicta similique totam nobis et minima placeat laborum,
                                est eveniet maiores nam odio eos dolorem adipisci modi iusto hic ex? Eum sequi molestiae
                                odit accusantium, ea tenetur! Excepturi debitis tempore et odit ab ea illo, illum nihil,
                                amet praesentium odio nostrum aspernatur. Adipisci culpa, sequi earum aut blanditiis
                                unde odit nihil consequuntur. Libero quos placeat, recusandae fugit pariatur aperiam,
                                corporis ratione ipsum saepe incidunt consequuntur tenetur nemo. Et consequatur, labore
                                ab quibusdam inventore minus numquam commodi nihil sequi. Quisquam pariatur ducimus quam
                                voluptatem? Recusandae facilis velit error quasi exercitationem at accusantium omnis
                                maxime ut temporibus odio aut ab ea est reprehenderit totam eum fuga a labore, amet
                                voluptas harum eveniet eius aliquam! Eos doloremque aliquam dolorum provident tempora,
                                necessitatibus eaque odit doloribus eligendi unde? Dolorum ut magnam nostrum, quasi cum
                                sint laudantium? Quasi tempore est corrupti facilis recusandae asperiores possimus, amet
                                sed id earum illum omnis voluptatum labore inventore atque impedit? Tempore quod
                                asperiores blanditiis, commodi optio voluptates enim! Tempora placeat, consequatur iusto
                                voluptates dolorum tenetur ipsam necessitatibus aliquam veniam! Delectus magni omnis,
                                sapiente nihil voluptas consequatur ea libero facilis tempora ad adipisci eaque.
                            </div>
                        </div>

                    </div>
                </div>
            </div-->



        </div>

    </div>

    <!--script>

    const links = document.getElementsByClassName("card-link");

    for(const link of links){

        link.addEventListener("click", (event) => {

            event.preventDefault();

            for(const hide of links){
                if(!hide.isEqualNode(link)){
                    if(hide.classList.contains("show")){
                        hide.classList.remove("show");
                    }
                }
            }

            link.classList.add("show")

        });

    }

</script-->

    <%- include('templates/footer'); %>