#filtrar-btn {
    vertical-align: top;
}

#image_box_1 {
    border-right: 1px dashed dimgray;
}

.selectable-icon {
    border-width: 3px;
    border-radius: 3px;
    border-color: black;
}

.display-4 {
    text-align: center;
}

ul {
    list-style: none;
    list-style-type: none !important;
    display: flex;
    flex-flow: row wrap;
    margin: 0px;
    padding: 0px;
}
  
li {
    display: inline-block;
}

.gallery-img {
    height: 150px;
    width: 150px;
    transform-origin: 50% 50%;
    padding: 10px;
    margin: 7px;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 600px) {
    .gallery-img {
        height: 125px;
        width: 125px;
        padding: 7px;
        margin: 2px;
    }
  }

  @media (max-width: 350px) {
      .gallery-img {
          height: 100px;
          width: 100px;
          padding: 2px;
          margin: 10px 2px;
      }
    }
  