body {
    background: #dcdde1;
}

#ficha {
    background: #adadad;
}

footer {
    clear: both;
    position: relative;
    height: 50px;
    margin-top: 0;
}
/* 
.kilometers::after {
    content: ' km';
  } */