<%- include("../templates/header.ejs", { tipoNavbar: "auth", isSignUp, tituloPestana: "P치gina principal" }) %>

    <div class="container">
        <h1 class="text-primary">Inicio de sesi칩n</h1>
        <form action="/api/users/login" method="post">
            <input type="email" value="ejemplo@ejemplo.com"><br>
            <p>Contrase침a</p>
            <input type="password">
            <button class="btn btn-primary" type="submit">Iniciar Sesi칩n</button>
        </form>
    </div>

<%- include('../templates/footer'); %>