<%- include("../templates/header.ejs", { tipoNavbar: "logged" , tituloPestana: "Mapa de grafitis" , user,
    index: 3, cssFiles: [] }) %>

    <div class="container-fluid p-0 m-0">
        <div class="" id="map" style="height: 600px; width: auto;"></div>
    </div>

    <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
    <script async src="/js/userPages/grafiti-map.js"></script>
    <%# Script de la api de maps; debe ir tras la función initMap %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= maps_key %>&callback=initMap&libraries=&v=weekly" async></script>

        <%- include('../templates/footer'); %>