<%- include("../templates/header.ejs", { tipoNavbar: "logged", tituloPestana: "Página de usuario", username: user.name }) %>

<div class="container">

    <div class="jumbotron mt-4">

    <h1 class="text-dark">Añadir Grafitis</h1>

    <div class="container pt-4">
        <form id="upload-form" class="form">

            <div class="form-group">
                <label for="archivo" class="">Seleccione una imagen</label>
                <input class="form-control-file col-md-6 col-lg-5" type="file" required="required" name="archivo" id="archivo" accept="image/png, image/jpeg" multiple="true">
            </div>
            
            <div class="form-row my-3">
                <div class="col text-center text-md-left">
                    <button class="col-12 col-sm-6 col-md-3 col-lg-2 btn btn-primary" type="submit">Listo   <i class="d-none fa fa-spinner fa-pulse" id="spinner"></i></button>
                </div>
            </div>

        </form>
    </div>

    </div>
</div>


<%- include('../templates/footer'); %>