<%- include("../templates/header.ejs", { tipoNavbar: "logged" , tituloPestana: "Subir grafitis" , user,
    index: 0, cssFiles: [] }) %>


    <div class="container pt-3">

        <div class="card mb-3">
            <div class="card-header">
                <h2>Añadir Grafitis</h2>
            </div>

            <form id="upload-form" class="form" enctype="multipart/form-data">

                <div class="card-body" id="container">

                    <div class="form-group col">
                        <label id="label" for="archivo" class="btn btn-outline-primary">Seleccione una o varias
                            imágenes</label>
                        <input class="d-none" type="file" required="required" name="archivo" id="archivo"
                            accept="image/png, image/jpeg" multiple>
                    </div>
                    <div id="preview">
                        <p>No se ha selecionado ninguna imagen aún.</p>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="form-row">
                        <div class="col text-center text-md-left">
                            <button id="subir" data-user="<%= user._id %>" class="col-12 col-sm-6 col-md-3 col-lg-2 btn btn-primary disabled"
                                type="submit" disabled>
                                <i class="fa fa-upload"></i> Listo <i class="d-none ml-2 fa fa-spinner fa-pulse"
                                    id="spinner"></i></button>
                            <div id="progress" class=" col-12 progress mt-3 d-none"
                                style="height: 30px; background-color: white; padding: 0;">
                                <div id="progressbar"
                                    class="progress-bar progress-bar-striped progress-bar-animated bg-success"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>

    <!-- CÓDIGO DEL MODAL DE ERROR -->
    <div class="modal" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Se ha producido un error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="contenido"> </p>
                    <p id="contenido_adicional" class="small text-danger"> </p>
                </div>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script src="/js/userPages/subir-grafiti.js" charset="utf-8"></script>

    <%- include('../templates/footer.ejs'); %>