<%- include("../templates/header.ejs", { tipoNavbar: "logged", tituloPestana: "Página de usuario", username: user.name }) %>

<div id="container" class="container">

    <div class="jumbotron mt-4">

    <h1 class="text-dark">Añadir Grafitis</h1>

    <div class="container pt-4">
        <form id="upload-form" class="form">

            <div class="form-group col">
                <label id="label" for="archivo" class="btn btn-outline-primary">Seleccione una o varias imágenes</label>
                <input class="d-none" type="file" required="required" name="archivo" id="archivo" accept="image/png, image/jpeg" multiple>
            </div>
            <div id="preview">
                <p>No se ha selecionado ninguna imagen aún.</p>
            </div>
            
            <div class="form-row my-3">
                <div class="col text-center text-md-left">
                    <button id="subir" class="col-12 col-sm-6 col-md-3 col-lg-2 btn btn-primary disabled" type="submit" disabled>
                       <i class="fa fa-upload"></i> Listo<i class="d-none ml-2 fa fa-spinner fa-pulse" id="spinner"></i></button>
                </div>
            </div>

        </form>
    </div>

    </div>
</div>

<script>

    const container = document.getElementById("container");
    const label = document.getElementById("label");
    const input = document.getElementById("archivo");
    const preview = document.getElementById("preview");
    const boton = document.getElementById("subir");

    //Cambiamos la opacity de input porque si lo pongo a collapse se ve mal
    input.style.opacity = 0;

    // Establecemos los tipos de imágenes válidos
    const fileTypes = [
        "image/jpeg",
        "image/png",
    ];
    function validFileType(file) {
        return fileTypes.includes(file.type);
    }

    // Función para hacer human-readable el tamaño de archivo
    function returnFileSize(nBytes) {
        if(nBytes < 1024) {
            return nBytes + "bytes";
        } else if(nBytes >= 1024 && nBytes < 1048576) {
            return (nBytes/1024).toFixed(1) + "KB";
        } else if(nBytes >= 1048576) {
            return (nBytes/1048576).toFixed(1) + "MB";
        }
    }

    // Función para mostrar una preview de los archivos que se subirán
    function updateImageDisplay() {

        // Borramos todo el contenido del div anterior
        while(preview.firstChild) {
            preview.removeChild(preview.firstChild);
        }

        // Obtenemos las imágenes seleccionadas
        const curFiles = input.files;

        // Si no se ha seleccionado ninguna imagen
        if(curFiles.length === 0) {
            // Ponemos un mensaje en el div
            const para = document.createElement('p');
            para.textContent = "No se ha selecionado ninguna imagen aún.";
            container.classList.replace("container-fluid","container");
            preview.appendChild(para);
            subir.disabled = true;
            subir.classList.add("disabled");
            label.innerText = "Seleccione una o varias imágenes";

        } 
        // Si se ha seleccionado una o más imágenes
        else {
            
            // Hacemos el container fluido para que se pueda adaptar mejor la tabla
            container.classList.replace("container","container-fluid");
            // Activamos el botón para permitir subidas, si una imagen no es válida se desactivará
            subir.disabled = false;
            subir.classList.remove("disabled");
            label.innerText = "Cambiar selección";

            // Creamos el div que hara la table responsive
            const div_responsive = document.createElement("div");
            div_responsive.classList.add("table-responsive");

            // Creamos la table que contendrá las imágenes
            const table = document.createElement("table");
            table.classList.add("table", "table-striped", "table-bordered");

            // Creamos la cabecera de la table
            const thead = document.createElement("thead");
            //thead.classList.add("thead-light");
            const tr_thead = document.createElement("tr");
            const headers = [
                "#",
                "Nombre",
                "size",
                ""
            ];
            headers.forEach(element => {
                const th_thead = document.createElement("th");
                th_thead.scope = "col";
                th_thead.innerText = element;
                tr_thead.appendChild(th_thead);
            });
            thead.appendChild(tr_thead);

            // Creamos el tbody
            const tbody = document.createElement("tbody");

            // Rellenamos la table con los previews
            var n_file = 1;
            for(const file of curFiles) {

                // Comprobamos que sea válido
                const isValid = validFileType(file);

                // Creamos el row
                const trow = document.createElement("tr");
                // Si no es válido lo alertamos
                if (!isValid) trow.classList.add("table-danger");

                // Añadimos el número de imagen
                const th = document.createElement("th");
                th.scope = "row";
                //th.classList.add("table-light");
                th.innerText = `${n_file++}`;
                trow.appendChild(th);

                // Si es válido el formato
                if(isValid) {

                    // Añadimos el nombre del archivo
                    const td_name = document.createElement("td");
                    td_name.innerText = file.name;
                    trow.appendChild(td_name);

                    // Añadimos el tamaño del archivo
                    const td_size = document.createElement("td");
                    td_size.innerText = `${returnFileSize(file.size)}`;
                    trow.appendChild(td_size);

                    // Añadimos el preview de la imagen
                    const td_img = document.createElement("td");
                    td_img.style = "text-align: center";
                    const img_prev = document.createElement("img");
                    img_prev.height = "64";
                    img_prev.width = "128";
                    img_prev.src = URL.createObjectURL(file);
                    td_img.appendChild(img_prev);
                    trow.appendChild(td_img);

                } else {

                    // Al haber un fichero inválido, se cancela la subida
                    subir.disabled = true;
                    subir.classList.add("disabled");

                    // Añadimos el nombre del archivo
                    const td_error = document.createElement("td");
                    td_error.innerText = `El archivo "${file.name}" no coincide con el formato de archivo requerido (.jpg / .jpeg / .png)`;
                    td_error.colSpan = 3;
                    trow.appendChild(td_error);

                }

                tbody.appendChild(trow);

            }

            // Añadimos el head y body a la table
            table.appendChild(thead);
            table.appendChild(tbody);

            // Añadimos la table al div
            div_responsive.appendChild(table);

            // Añadimos el div al preview
            preview.appendChild(div_responsive);

        }
    }

    input.addEventListener('change', updateImageDisplay);

</script>

<%- include('../templates/footer.ejs'); %>