<%- include("../templates/header.ejs", { tipoNavbar: "logged", tituloPestana: "Mi perfil" }) %>

<div class="container">
    <h1 class="text-primary mt-2">Perfil de usuario </h1>
</div>

<%- include('../templates/footer'); %>